


body {
    letter-spacing: -0px;
    margin-top: 0;
     overflow-x: hidden; 
    overflow-y: auto;
    
    background-color: #1E0F47;
    font-family: "BebasNeue-Book";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}
h4 {
    margin: 0;
    padding 0;
    color: #C6C1D1;
    overflow: hidden;
    font-size: 0.9em;
    
}
h5 {
    
    margin: 0;
    padding: 0;
    margin-top: 3px;
    color: #ECD042;
    font-size: 0.8em; 
    
}
.background-nav {
  position:fixed;
    width: 100%;
    height: 50px;
    color: #180B3D;
}
h1 {
    font-size: 1.9em;
    margin-top: 0;
    color: #46BDD5;
    font-family:"BebasNeue-Bold";
}
.event-item {
    background-color: #180B3D;
    
    height: 62px;
    margin-top: 15px;
     
}
.event-item-highlight {
   background-color: #180B3D;
    
    height: 68px;
    margin-top: 15px;
    border-bottom: 2px solid #ECD042;   
}
main .icon {
     height: 55px;
    width: 55px;
    margin-top: 5px;
    float: left;
}
.event-div {
    
   position: relative;
       top: 20px;
    width: 100%;
    height: 30px;
    
    
    
    
}
h2 {
    font-size: 1.2em;
    margin:0;
    
    padding: 0;
    color: white;
}
h3 {
    font-size: 0.9em;
    color: #F5C8EA;
    margin: 0;
    padding: 0;
     padding-left: 5px;
}
.event-div-info {
   position: relative;
    height: 30px;
    top: -33px;
    left: 200px;
    
}
.icon {
    padding-right: 5px;
}




