@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');


html {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
    
}

body {
    
    
    
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1.00) 100%, RGBA(29, 15, 72, 1.00) 100%), url('img/disco-bg.jpg') no-repeat;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.00)),color-stop(100%, RGBA(29, 15, 72, 1.00)), color-stop(100%, rgba(0, 0, 0, 1.00))), url('img/disco-bg.jpg') no-repeat;
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%,RGBA(29, 15, 72, 1.00) 100%),  rgba(0, 0, 0, 1.00) 100%), url('img/disco-bg.jpg') no-repeat;
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%,  RGBA(29, 15, 72, 1.00) 100%), url('img/disco-bg.jpg') no-repeat;
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, RGBA(29, 15, 72, 1.00) 100%), url('img/disco-bg.jpg') no-repeat;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, RGBA(29, 15, 72, 1.00) 100%), url('img/disco-bg.jpg') no-repeat;
    background-size: 100% 200px;
    background-color: RGBA(29, 15, 72, 1.00);
    
  


    /*background: linear-gradient(200deg, rgb(65, 32, 155), #1E0F47);*/
    height: 100%;
    margin: 0;
    margin-left: 25px;
    margin-right: 25px;
    background-repeat: no-repeat;
   
    font-family: "BebasNeue-Book";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    overflow-y: scroll;
}
.header {
    
    position: fixed;
    padding: 0;
    margin:0;
    margin-left: -25px;
    height: 60px;
    width: 100%;
    background-color: #1D0F48;
    
    
    z-index:10;
    
    
}
#events {
    margin-top:90px;
}

/*
h1 {
    font-size: 1.5em;
    margin-top: 60px;
    color: #46BDD5;
}
*/

#back-arrow:focus {
    outline:none !important;
}

.event-item {
    background-color: #180B3D;
    width: 100%;
    height: 80px;
    margin-top: 10px;
     
}

main .icon {
     height: 70px;
    width: 70px;
    margin-top: 5px;
    float: left;
}
.event-head {
    
    width: 100%;
    height: 80px;
    margin-top: 5px;
    padding-bottom: 20px;
    
    border-radius: 1px;
   
}
.event-div {
    margin-top: 17px;
    
    
    height: auto;
    width: 75%;
    float: right;
    
}
h2 {
    font-size: 2.2em;
    color: #4DBDD3;
    margin:0;
    padding: 0;
    font-family: 'BebasNeue-Regular';
 
}
h3 {
    font-family: 'BebasNeue-Regular';
    font-size: 1em;
    color: #C6C1D0;
    padding: 0;
    margin: 0;
    margin-top: 5px;
}

h3 span {
    color: #F5C8EA;
    
}

.event-div-info {
    position: relative;
    left: 190px;
    top: -40px;
    width: 30%;
    height: 100%;
    
}
h4 {
    font-size: 1.5em;
    margin:0;
    margin-bottom: 10Px;
    
    padding: 0;
    color: white;
}

.description-one {
    width: 100%;
    height: 120px;
    /*border-bottom: 3px dotted #F71BAD;*/
    
    
}
.description-twoo {
    width: 100%;
    height: 200px;

    
}
h5 {
    margin: 0;
    margin-top: 5px;
    font-size: 1.1em;
    color: #C6C1D1;
    
}
h6 {
    font-size: 1.1em;
    color: #C6C1D1;
    margin: 0;
    padding: 0;
}
.promo {
    font-size: 1.4em;
 
    position: relative;
    top: 20px;
    color: #F71BAD;
}
.description-twoo p {
    color:#C6C1D0;
    font-size: 0.9em;
    width: 100%;
    font-family: 'Source Sans Pro';
}
.description-twoo img {
    width: 100%;
   
}

.material-icons {
    vertical-align: middle;
}


.icon-small {
    font-size: 22px !important;
}





.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    
    margin: 0 auto; /* 15% from the top and centered */
    
   
    width: 100%; /* Could be more or less, depending on screen size */
    height: 100%;
}
.modal-content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* The Close Button */
.close {
    z-index: 9999;
    /*
    margin-top: 5px;
    margin-right: 20px;
    */
    position: absolute;
    top: 3px;
    right: 10%;
    color: #4CBDD4;
    float: right;
    font-size: 50px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
video {
  object-fit: cover;
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;

}
#addstory {
    
    width: 100%;
    height: 50px;
    background-color: RGBA(252, 28, 176, 1.00);
    border-radius: 7px;
    position: relative;
    margin-bottom: 15px;
}
#addstory h7 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    color: #ECEAEC;
    font-size: 1.1em;
    font-family: "BebasNeue-Book";
    font-weight: 700;
    
}

/* image story overlay */

.image-overlay #confirm-image {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    overflow: visible;
    /*background: #1E0F47 url('http://samherbert.net/svg-loaders/svg-loaders/rings.svg') no-repeat center center;*/
    background: #1E0F47;
    
    
}
.centerimage {
    width: 100%;
    height: 100%;
        position: relative;

    
}
.image-overlay #confirm-image .centerimage img {
    max-width: 100%;
    
    object-fit: contain;
    max-height: 100%;  
    max-width: 100%; 
    width: auto;
    height: auto;
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
    object-fit: contain;
    
    
    
}
#story-image-add {
    max-width: 100%;
width: 100%;
    height: 100%;
   
}
#send-image {
    height: 50px;
    width: 100%;
    background-color: RGBA(29, 15, 72, 1.00);
  position: fixed;
  bottom: 0;
    
}
#confirm-image h7 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    color: #ECEAEC;
    font-size: 1.1em;
    font-family: "BebasNeue-Book";
    font-weight: 700;
}

/* preloader */

.js div#preloader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    overflow: visible;
    /*background: #1E0F47 url('http://samherbert.net/svg-loaders/svg-loaders/rings.svg') no-repeat center center;*/
    background: #1E0F47 url('img/preloader_edit.svg') no-repeat center center;
    background-size: 90px;
    
}
#back-arrow {
    position: fixed;
    cursor: pointer;
    top: 20px;
    left: 30px;
    width: 20px;
    height: 20px;

    outline: 0;
      -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent; /* For some Androids */
    
        z-index: 998;
    margin-left: -8px;
}
.yellow-circle {
    margin-left: -73px;
    margin-top: 2px;
    z-index: 50
    height: 75px;
    width: 75px;
    position: relative;
    overflow: visible;
    
    
}
.icon-small  {
    font-size: 16px !important;
}
.link {
    color: #C6C1D0;
    text-decoration: none;
    
}
form {
    display: none;
}
.coverphoto {
    width: 100;
    height: 200px;
    object-fit: cover;
     border-radius: 7px;
    margin-bottom: 15px;
    
}
main {
    width:100%;
    
    z-index:5;
    
}

@media only screen and (max-width: 400px) {
    h2 {
        font-size: 1.7em;
    }
    h4 {
        font-size: 1.2em;
    }
}
.image-overlay #confirm-image-add {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    overflow: visible;
    /*background: #1E0F47 url('http://samherbert.net/svg-loaders/svg-loaders/rings.svg') no-repeat center center;*/
    background: #1E0F47;
    
    
}
.image-overlay #confirm-image-add img {
    max-width: 100%;
    
    object-fit: contain;
    
    
