
/**
html {
    overflow-x: hidden;
    overflow-y: scroll;
}

body {
    letter-spacing: -0px;
    margin-top: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: /*rgb(65, 32, 155) #251B65;

    //background: linear-gradient(200deg, rgb(65, 32, 155), #1E0F47);
    height: 100%;
    margin: 0;
    margin-left: 15px;
    margin-right: 15px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "BebasNeue-Regular";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    
}
.header {
    position: fixed;
    padding: 0;
    margin:0;
    height: 60px;
    width: 100%;
    background-color: #251B65;
}

h4 {
    margin: 0;
   
    padding: 0;
    color: #C6C1D1;
    overflow: hidden;
     font-size: 0.9em;
    font-weight: 500;
    
}

h5 {
    margin: 0;
    padding: 0;
    margin-top: 3px;
    color: #ECD042;
    font-size: 0.9em;
}

.background-nav {
    position: fixed;
    width: 100%;
    height: 50px;
    color: #180B3D;
}

h1 {
    font-size: 2.3em;
    margin-top: 70px;
    color: #46BDD5;
    font-family: "BebasNeue-Bold";
}

.event-item {
    background-color: rgba(24, 11, 61, 0.3);
    height: 70px;
    margin-top: 15px;
    position: relative;
    opacity: 0.9;
}

.event-item-highlight {
    background-color: #180B3D;
    height: 68px;
    margin-top: 15px;
    border-bottom: 2px solid #ECD042;
}

main .icon {
    height: 55px;
    width: 55px;
    margin: 5px;
    float: left;
}

.event-div {
    position: relative;
    top: 20px;
    width: 100%;
    height: 30px;
    
}

h2 {
    font-size: 1.2em;
    margin: 0;
    padding: 0;
    color: white;
}

h3 {
    font-size: 0.9em;
    color: #F5C8EA;
    margin: 0;
    padding: 0;
    margin-top: 3px;
    padding-left: 5px;
   
}

.event-div-info {
    position: relative;
    top: -40px;
    left: 220px;
    width: auto;
}


.event-div-info h5 {
    /*
    background-color: rgb(44, 22, 105);
    border: 5px solid rgb(44, 22, 105);
    
    border-radius: 2px;

    padding-left: 2px;
    padding-top: 4px;
    display: inline-block;
}

@media screen and (min-width: 400px) {
    .event-div-info {
        left: 200px;
    }
  }

@media screen and (max-width: 400px) {
    .event-div-info {
        left: 160px;
    }
  }

  @media screen and (max-width: 360px) {
    .event-div-info {
        left: 150px;
    }
  }

  @media screen and (max-width: 340px) {
    .event-div-info {
        left: 110px;
    }
  }

.icon {
    padding-right: 5px;
    padding-top: 2px;
    
}

.icon-small {
    font-size: 15px !important;
    vertical-align: middle;
}

.js div#preloader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    overflow: visible;
    background: #1E0F47 url('img/preloader_edit.svg') no-repeat center center;
    background-size: 90px;
    
}
.icon-small  {
    font-size: 14px !important;
}

*/

html {
    overflow-x: hidden;
    overflow-y: scroll;
}

body {
    letter-spacing: -0px;
    margin-top: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    /*background-image: url("img/disco-bg-new.png");*/
    background-color:#251B65;
    background-size: cover;
    /*
    background: linear-gradient(200deg, rgb(65, 32, 155), #1E0F47);*/
    height: 100%;
    margin: 0;
    margin-left: 25px;
    margin-right: 25px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "BebasNeue-Regular";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;

}
.header {
    position: fixed;
    padding: 0;
    margin:0;
    height: 60px;
    width: 100%;
    background-color: #251B65;
}

.detail-image {
    border-radius: 100%;
    width: 70px;
    border: 1px solid white;
    margin-right: 10px;
}

.main-info {
    margin-top: 15px;
    vertical-align: top;
}

.inline-block {
    display: inline-block;
}

.photo-container {
    overflow-x: auto;
    white-space: nowrap;
}

.photo-list {
    margin: 20px;
    margin-left: 0px;
    width: 70px;
    border-radius: 50%;
    border: 1px solid white;
    display: inline-block;
}

.map {
    margin-top: 15px;
    border-radius: 10px;
    width: 100%;
}

#check-in {
    margin-top: 15px;
    width: 100%;
    height: 50px;
    background-color: rgb(255, 29, 153);
    border-radius: 4px;
    position: relative;
    margin-bottom: 15px;
}
#check-in h7 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    color: #ECEAEC;
    font-size: 1.1em;
    font-family: "BebasNeue-Book";
    font-weight: 700;
}

h4 {
    color: #C6C1D1;
    font-weight: 500;
    display: inline-block;
    -webkit-margin-before: 0em !important;
    -webkit-margin-after: 0em !important;
    -webkit-margin-start: 0px !important;
    -webkit-margin-end: 0px !important;
}

h5 {
    margin: 0;
    padding: 0;
    margin-top: 3px;
    font-size: 1.3em;
    color: white;
    font-weight: 100;
}

p {
    color: #C6C1D1;
    font-size: 1.3em;
}

h3 {
    -webkit-margin-before: 0em !important;
    -webkit-margin-after: 0em !important;
    -webkit-margin-start: 0px !important;
    -webkit-margin-end: 0px !important;
}

.background-nav {
    position: fixed;
    width: 100%;
    height: 50px;
    color: #180B3D;
}

h1 {
    font-size: 2.3em;
    margin-top: 70px;
    color: #46BDD5;
    font-family: "BebasNeue-Regular";
    font-weight: 500;
}

.event-item {
    background-color: rgba(24, 11, 61, 0.3);
    height: 70px;
    margin-top: 15px;
    position: relative;
    opacity: 0.9;
}

.event-item-highlight {
    font-family: "BebasNeue-Bold";
    color: #ECD042;
    font-size: 22px;
}

main .icon {
    height: 55px;
    width: 55px;
    margin: 5px;
    float: left;
    border-radius: 50%;
}

.event-div {
    position: relative;
    top: 20px;
    width: 100%;
    height: 30px;

}

.event-card {
    background-color: rgb(58, 31, 102);
    border-radius: 5px;
    margin-top: 15px;
}

.event-card-icon {
    margin: 10px;
    display: inline-block;
}

.event-card-image {
    margin-bottom: 10px;
    margin: 10px;
    width: 93%;
    height: auto;
    max-width:100%;
    max-height:100%;
    border-radius: 5px;
}

.event-card-host {
    color: rgb(255, 0, 221);
    font-size: 1.2em;
}

h2 {
    font-size: 1.2em;
    margin: 0;
    padding: 0;
    color: white;
}

.title-event {
    font-size: 2em;
    font-weight: 100;
    color: white;
    display: inline-block;
}

.event-div-info {
    position: relative;
    top: -40px;
    left: 220px;
    width: auto;
}


.event-div-info h5 {
    /*
    background-color: rgb(44, 22, 105);
    border: 5px solid rgb(44, 22, 105);

    border-radius: 2px;
    */
    padding-left: 2px;
    padding-top: 4px;
    display: inline-block;
}

@media screen and (min-width: 400px) {
    .event-div-info {
        left: 200px;
    }
}

@media screen and (max-width: 400px) {
    .event-div-info {
        left: 160px;
    }
}

@media screen and (max-width: 360px) {
    .event-div-info {
        left: 150px;
    }
}

@media screen and (max-width: 340px) {
    .event-div-info {
        left: 110px;
    }
}

h6 {
    color: white;
    font-weight: 100;
    margin: 5px;
}

.icon {
    height: 50px;
    width: 50px;
    margin-left: 15px;
    float: left;
    border-radius: 50%;
}

.icon-small {
    font-size: 15px !important;
    vertical-align: middle;
}

/* preloader */

.js div#preloader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    overflow: visible;
    /*background: #1E0F47 url('http://samherbert.net/svg-loaders/svg-loaders/rings.svg') no-repeat center center;*/
    background: #1E0F47 url('img/preloader_edit.svg') no-repeat center center;
    background-size: 90px;

}
.icon-small  {
    font-size: 14px !important;
}

.marker {
    vertical-align: middle;
    margin-left: 10px;
    color:lightskyblue;
}

.toggle-margin {
    float: right;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid lightskyblue;
    background-color: transparent;
    -webkit-transition: .4s;
    transition: .4s;
    float: right;
}

.slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(12px);
    -ms-transform: translateX(12px);
    transform: translateX(12px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.stories {
    border: 2px solid #ECD042;
    -webkit-transition: border 0.1s linear, box-shadow 0.1s linear;
    -moz-transition: border 0.1s linear, box-shadow 0.1s linear;
    transition: border 0.1s linear, box-shadow 0.1s linear;
    -webkit-box-shadow: 0 0 5px #ECD042;
    -moz-box-shadow: 0 0 5px #ECD042;
    box-shadow: 0 0 5px #ECD042;
}

.hasnopromo {
    width: 50px; height: 50px;
}

.hasapromo {
    width: 70px; height: 70px;
}
