html {
    overflow-x: hidden;
    overflow-y: scroll;
}

body {
    letter-spacing: -0px;
    margin-top: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    background-image: url("img/disco-bg.jpg");
    background-color: /*rgb(65, 32, 155)*/ #251B65;
    background-size: cover;
    /*
    background: linear-gradient(200deg, rgb(65, 32, 155), #1E0F47);*/
    height: 100%;
    margin: 0;
    margin-left: 25px;
    margin-right: 25px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "BebasNeue-Regular";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    
}
.header {
    position: fixed;
    padding: 0;
    margin:0;
    height: 60px;
    width: 100%;
    background-color: #251B65;
}

.layer {
    background-color: rgba(95, 66, 201, 0.75);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.cocktail-icon {
    display:block;
    margin: auto;
    width: 100px;
}

h1 {
    font-size: 2.3em;
    color: #46BDD5;
    font-family: "BebasNeue-Bold";
    font-weight: 100;
    text-align: center;
}

.margin-top {
    margin-top: 150px;
}

.margin-text {
    margin-top: 40px;
}

h5 {
    margin: 0;
    padding: 0;
    margin-top: 3px;
    font-size: 1.3em;
    color: white;
    font-weight: 100;
    display: inline-block
}

.icon {
    width: 20px;
    display: inline-block;
    vertical-align: middle;
}

.center-text {
    text-align: center;
}


@media screen and (min-width: 400px) {
    .event-div-info {
        left: 200px;
    }
  }

@media screen and (max-width: 400px) {
    .event-div-info {
        left: 160px;
    }
  }

  @media screen and (max-width: 360px) {
    .event-div-info {
        left: 150px;
    }
  }

  @media screen and (max-width: 340px) {
    .event-div-info {
        left: 110px;
    }
  }

/* preloader */

.js div#preloader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    overflow: visible;
    /*background: #1E0F47 url('http://samherbert.net/svg-loaders/svg-loaders/rings.svg') no-repeat center center;*/
    background: #1E0F47 url('img/preloader_edit.svg') no-repeat center center;
    background-size: 90px;
    
}
