@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

html {
    overflow-x: hidden;
    overflow-y: scroll;
}
.header {
    position: fixed;
    padding: 0;
    margin:0;
    height: 60px;
    width: 100%;
    background-color: #251B65;
}

body {
     overflow-x: hidden;
    overflow-y: scroll;
    background-color: #251B65;
    /*background: linear-gradient(200deg, rgb(65, 32, 155), #1E0F47);*/
    height: 100%;
    margin: 0;
    margin-left: 15px;
    margin-right: 15px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "BebasNeue-Book";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}
h1 {
    
    margin-top: 70px;
    
    
    
    
    font-size: 2.3em;
    
    color: #46BDD5;
    font-family: "BebasNeue-Bold";
    padding-bottom: 50px;
    border-bottom: 2px solid #ECD042;
}
p {
    width: 100%;
    color: #F6F6F6;
    font-size: 1em;
    font-family: 'Source Sans Pro';
   
   
}
.icons {
    width: 100%;
    margin-bottom: 5px;
}
.insta {
    width: 48%;
    height: 100%;
}
.fb {
     width: 48%;
    height: 100%;
    float: right;
}
.ucll {
    width: 100%;
    height: 100%;
}