@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
body {
    background-color: #1E0F47;
    font-family: "Bebas Neue";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
    overflow-x: hidden
}
h1 {
    font-size: 2.5em;
    margin-top: 60px;
    color: #46BDD5;
}
.event-item {
    background-color: #180B3D;
    width: 95%;
    height: 80px;
    margin-top: 10px;
     
}

main .icon {
     height: 70px;
    width: 70px;
    margin-top: 5px;
    float: left;
}
.event-head {
    
    width: 95%;
    height: 80px;
    margin-top: 5px;
    padding-bottom: 20px;
    border-bottom: 2px solid #ECD042;
   
}
.event-div {
     height: 50px;
    width: 75%;
    margin-top: 10px;
    float: right;
}
h2 {
    font-size: 2.2em;
    color: #4DBDD3;
    margin:0;
    padding: 0;
 
}
h3 {
    font-size: 1em;
    color: #C6C1D0;
     margin: 0;
    padding: 0;
}
.event-div-info {
    position: relative;
    left: 190px;
    top: -40px;
    width: 30%;
    height: 100%;
    
}
h4 {
    font-size: 2.2em;
    margin:0;
    margin-top: 20px;
    padding: 0;
    color: white;
}

.description-one {
    width: 95%;
    height: 160px;
    border-bottom: 2px solid #ECD042;
}
.description-twoo {
    width: 95%;
    height: 200px;

    
}
h5 {
    margin: 0;
    margin-top: 5px;
    font-size: 1em;
    color: #C6C1D1;
    
}
h6 {
    color: #C6C1D1;
    margin: 0;
    padding: 0;
}
.promo {
    font-size: 1.6em;
    font-family: "Bebas Neue";
    position: relative;
    top: 30px;
    color: #ECD042;
}
.description-twoo p {
    color: white;
    font-size: 1em;
    width: 100%;
    font-family: 'Source Sans Pro';
}
.description-twoo img {
    width: 100%;
   
}
